.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/

data/
feature_repo/

infra/.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

awscliv2.zip
aws/
{data/

.DS_Store
Thumbs.db
